
/* global */
body {
    background-color: #e4e0d7d8;
}

/* Navigation */
.logo-img {
    height: 75px;
    width: 75px;
}

.logo-name {
    font-size: 2rem;
}

/* Sections */

/* Landing */

.landing{
    position: relative;
}

.landing-img-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    overflow: hidden;
}

.landing-img {
    height: 100%;
    width: 100%;
    opacity: .5;
    overflow: hidden;
}

.landing-focus {
    position: absolute;
    top: 30%;
    left: 15%;
}

.landing-title {
    font-size: 4rem;
    letter-spacing: .2rem;
    color: #fff;
}

.landing-lead {
    font-size: 1.618rem;
    letter-spacing: .1rem;
    color: #fff;
}

/* About */

.about {
    padding-top: 8rem;
}

.about-img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

/* Services */

.services {
    padding-top: 8rem;
}

.services-toc {
    display: none;
}

/* Contact */

.contact {
    padding-top: 4rem;
}

/* Individual components */

section {
    min-height: 100%;
}

.btn-cta {
    background-color: green;
    color: #fff;
}

.icons:hover,
.icons:focus {
    background-color: cyan;
    border-radius: 20%;
    height: 30px;
    width: 30px;
}

/* Media Queries */

@media (min-width: 992px) {
    .landing-focus {
        margin-right: 2rem;
    }

    .landing-title {
        font-size: 4rem;
    }

    .landing-lead {
        font-size: 1.618rem;
    }

    .about-paragraph {
        margin-right: 2rem;
    }
}

@media (max-width: 768px) {
    .landing {
        padding-top: 4rem;
    }

    .landing-focus {
        margin-right: 2rem;
    }

    .landing-title {
        font-size: 2rem;
    }

    .landing-lead {
        font-size: 1rem;
    }

    .about-paragraph {
        margin-right: 2rem;
    }
}

@media (min-width: 576px) {
    

    .landing {
        padding-top: 4rem;
    }

    .services {
        padding-top: 8rem;
    }

}

@media (max-width: 576px) {
    html {
        font-size: 80%;
    }

    .logo-name {
        font-size: 1.1rem;
    }

    .landing {
        margin-top: 5.5rem;
    }

    .landing-focus {
        top: 15%;
        left: 5%;
    }

    .landing-title {
        font-size: 1.6rem;
    }

    .landing-lead {
        font-size: .8rem;
    }

    .btn-cta {
        padding: .2rem;
        font-size: .8rem;
    }

    .about {
        padding-top: 5.5rem;
    }

    .about-message {
        margin-top: 1.5rem;
    }

    .about-paragraph {
        margin: auto 2rem;
    }

    .about-btn {
        margin: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
}
