/* Nav Bar */
.logo-img {
    height: 75px;
    width: 75px;
}

.nav-link {
    color: black;
}

/* Sections */

/* Landing  */
.landing {
    height: 100vh;
    width: auto;
}

.landing-img-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.landing-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;
    overflow: hidden;
}

.landing-focus {
    position: absolute;
    top: 50%;
    left: 5%;
}

.landing-title {
    color: #fff;
    letter-spacing: .1rem;
}

.landing-lead {
    color: #fff;
    letter-spacing: .1rem;
}

.landing-btn {
    background-color: green;
    color: #fff;
    float: right !important;
}

/* About */

.about {
    min-height: 50vh;
    width: 100%;
}

.about-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-paragraph {
    text-indent: 1rem;
}

/* Services */
.services {
    height: 80vh;
    width: 100%;
}

/* Contact */
.contact {
    height: 60vh;
    width: 100%;
}
/* Footer */
.icons:hover,
.icons:focus {
    background-color: #0dcaf0;
    border-radius: 20%;
    height: 45px;
    width: 45px;
}

/* Media Queries */
@media (min-width: 1400px) {
    .landing-btn {
        transform: translateX(-600%);
    }
}

@media (min-width: 1300px) {
    .landing-focus {
        left: 15%;
    }

    .landing-btn {
        float: none !important;
        transform: translateX(300%);
    }
}

@media (min-width) {
    
}

@media (min-width: 992px) {
    .about {
        display: flex;
    }

    .about-img {
        height: 70%;
        width: 100%;
    }

    .about-paragraph {
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    .services {
        height: 45vh;
    }

    .list-group {
        display: none;
    }

}


@media (min-width: 768px){
    .landing-focus {
        top: 40%;
    }

    .landing-title {
        font-size: 4rem;
    }

    .landing-lead {
        font-size: 1.5rem;
        padding: auto 2rem;
        margin-right: 1rem;
    }

    .landing-btn {
        padding: 1rem 2rem;
        font-size: 1.3rem;
        margin-right: 5rem;
    }
}

